name: ci

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  test-ko-action:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-latest-arm

    permissions:
      contents: read

    runs-on: ${{matrix.runner}}

    steps:
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.25'
          check-latest: 'true'

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      # Minimal publish
      - uses: ./

      - run: ko publish --bare ./
        if: ${{ github.event_name == 'pull_request' }}
        env:
          KO_DOCKER_REPO: ko.local

      - name: Install old release
        uses: ./
        with:
          version: v0.8.0

      - name: Check installed version
        run: ko version | grep 0.8.0

      - name: Install from tip
        uses: ./
        with:
          version: tip

      - name: Check installed version (tip)
        run: |
          sudo rm /usr/local/bin/ko # Uninstall previous versions.
          ko version

      # If KO_DOCKER_REPO is set during setup, it's set for future steps.
      - name: Pre-set KO_DOCKER_REPO
        uses: ./
        env:
          KO_DOCKER_REPO: already-set

      - name: Check pre-set KO_DOCKER_REPO
        run: |
          if [[ "${KO_DOCKER_REPO}" != "already-set" ]]; then
            echo "${KO_DOCKER_REPO} != already-set"
            exit 1
          fi
