name: ci

on:
  pull_request:

jobs:
  test-ko-action:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-latest-arm

    runs-on: ${{matrix.runner}}

    steps:
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: '1.23'
          check-latest: 'true'

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # Minimal publish
      - uses: ./

      - run: ko publish --bare ./
        if: ${{ github.event_name == 'pull_request' }}
        env:
          KO_DOCKER_REPO: ko.local

      - name: Install old release
        uses: ./
        with:
          version: v0.8.0

      - name: Check installed version
        run: ko version | grep 0.8.0

      - name: Install from tip
        uses: ./
        with:
          version: tip

      - name: Check installed version (tip)
        run: |
          sudo rm /usr/local/bin/ko # Uninstall previous versions.
          ko version

      # If KO_DOCKER_REPO is set during setup, it's set for future steps.
      - name: Pre-set KO_DOCKER_REPO
        uses: ./
        env:
          KO_DOCKER_REPO: already-set

      - name: Check pre-set KO_DOCKER_REPO
        run: |
          if [[ "${KO_DOCKER_REPO}" != "already-set" ]]; then
            echo "${KO_DOCKER_REPO} != already-set"
            exit 1
          fi

      - name: Install ko-version-file
        run: echo "v0.6.0" > .ko-version

      - name: Install ko-version-file
        uses: ./
        with:
          ko-version-file: .ko-version

      - name: Check installed version
        run: ko version | grep 0.6.0

      - name: Install version if ko-version-file is set but version is explicit
        uses: ./
        with:
          ko-version-file: .ko-version
          version: v0.8.0

      - name: Check installed version
        run: ko version | grep 0.8.0

      - name: Fail if ko-version-file is set but it's not a valid file
        continue-on-error: true
        id: validation
        uses: ./
        with:
          ko-version-file: .unknown-file

      - name: Verify step failed if ko-version-file is set but it's not a valid file
        if: steps.validation.outcome != 'failure'
        run: exit 1
