name: Use Action

on:
  push:
    branches:
      - 'main'

jobs:
  use-action:
    name: Use Action

    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - ubuntu-latest-arm
          - macos-latest

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.22'
          check-latest: 'true'

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # Minimal publish
      - uses: ko-build/setup-ko@main

      - run: ko publish --bare ./

      - name: Install specific release
        uses: ko-build/setup-ko@main
        with:
          version: v0.16.0

      - name: Check installed version
        run: ko version | grep 0.16.0

      - name: Install from tip
        uses: ko-build/setup-ko@main
        with:
          version: tip

      - name: Check installed version (tip)
        run: |
          sudo rm /usr/local/bin/ko # Uninstall previous versions.
          ko version

      # If KO_DOCKER_REPO is set during setup, it's set for future steps.
      - name: Pre-set KO_DOCKER_REPO
        uses: ko-build/setup-ko@main
        env:
          KO_DOCKER_REPO: already-set

      - name: Check pre-set KO_DOCKER_REPO
        run: |
          if [[ "${KO_DOCKER_REPO}" != "already-set" ]]; then
            echo "${KO_DOCKER_REPO} != already-set"
            exit 1
          fi
